.border {
  border: 0.5px solid #333;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.cell-size {
  width: 3.5vh;
  height: 3.5vh;
}

.inner-cell-size {
  width: 3.25vh;
  height: 3.25vh;
  border-radius: 100%;
}

/* .size-down {
  transform: scale(0.8);
  transition-property: transform;
  transition-duration: 250ms;
} */

.size-down:hover {
  transform: scale(0.8) translateY(-2vh);
}

.cell-active {
  animation-name: activeAnimation;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  background-color: #333;
}

.cell-hovered {
  transform: scale(1);
  opacity: 0.5;
  background-color: #333;
}

.cell-inactive {
  transform: scale(0);
  animation-name: inactiveAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  background-color: firebrick;
  transition-property: background-color transform;
  transition-duration: 500ms;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  /* justify-content: center; */
}

.flex-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.app-margin-top {
  margin-top: 3vh;
}

@keyframes activeAnimation {
  0% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes inactiveAnimation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0);
  }
}
